.App {
  text-align: center;
  background-color: #ccc;
  border: 1px solid #333;
  width: 300px;
  margin: auto;
}

.user-input {
  font-size: 2.5rem;
  height: 100px;
  display: flex;
  place-items: center;
  justify-content: flex-end;
}

h1 {
  text-align: center;
}

.Cockpit {
  display: flex;
}